body {
    background: #fafaea;
    font-family: Tahoma, Arial, sans-serif;
}

h1 {
    color: rgb(23, 165, 158);
    font: 32px 'Times New Roman', Times, serif;
}

table {
    width: 50%;
    border: 5px double rgb(23, 165, 158);
}

thead {
    text-align: left;
}

label {
    display: block;
}

#submit-btn {
    display: block;
    color:rgb(22, 151, 145)
}


.heading-style {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(23, 165, 158);
    text-decoration: underline;
}

#tableheading {
    font-size: 20px;
}

.address-border {
    border: 3px double rgb(23, 165, 158);
    padding: 5px;
    display: inline-flex;
}

